body {
    margin: 2%;
    background: #cdfaff;
    border-style: none;
    font-size: 120%;
}

table.layout {
    width: 100%;
    border-style: none;
    margin: auto;
    vertical-align: top;
}
td.layout {
    vertical-align: top;
}
tr.layout {
    vertical-align: top;
}

table.list {
    font-size: 15px;
    width: 95%;
    text-align: center;
    border-collapse: collapse;

    border: 2px none darkblue;
    margin-left: 2%;
    margin-right: 2%;
    horiz-align: center;
    vertical-align: top;
}

th.list {
    border-bottom: 2px solid darkslategrey;
    background-color: burlywood;
}

tr.list {
    border-bottom: 2px solid darkslategrey;
}

td.list {
    border-bottom: 1px solid darkslategrey;
    background-color: bisque;
}

form.auth {
    text-align: center;
    width: 25%;
    background-color: bisque;
    margin: auto;
}